<p>{{SeeCompatTable}}{{APIRef("[[Shared:MDNAPIRef]]")}}</p>

<p>The <strong><code>[[Shared:Interface]]</code></strong> interface of the the <a href="/en-US/docs/Web/API/[[Shared:FormalAPIName]]">[[Shared:FormalAPIName]]</a> provides [[Description]] </p>

<h2 id="Constructor">Constructor</h2>

<dl>
 <dt>{{domxref("[[Shared:Interface]].[[Shared:Interface]]()")}}</dt>
 <dd>Creates a new <code>[[Shared:Interface]]</code> object.</dd>
</dl>

<h2 id="Properties">Properties</h2>

[[Properties]]

<h3 id="Event_handlers">Event handlers</h3>

[[EventHandlers]]

<h2 id="Methods">Methods</h2>

[[Methods]]

<h2 id="Examples">Examples</h2>

<pre class="brush: js">// TBD</pre>


<table class="standard-table">
 <tbody>
  <tr>
   <th scope="col">Specification</th>
   <th scope="col">Status</th>
   <th scope="col">Comment</th>
  </tr>
  <tr>
   <td>{{SpecName('[[Shared:MDNSpecName]]','[[MemberLink]]','[[Shared:Interface]]')}}</td>
   <td>{{Spec2('[[Shared:MDNSpecName]]')}}</td>
   <td>Initial definition.</td>
  </tr>
 </tbody>
</table>

<h2 id="Browser_Compatibility">Browser Compatibility</h2>

<div>{{CompatibilityTable}}</div>

<div id="compat-desktop">
<table class="compat-table">
 <tbody>
  <tr>
   <th>Feature</th>
   <th>Chrome</th>
   <th>Firefox (Gecko)</th>
   <th>Internet Explorer</th>
   <th>Opera</th>
   <th>Safari (WebKit)</th>
  </tr>
  <tr>
   <td>Basic support</td>
   <td>{{CompatChrome([[Shared:ChromeVersion]])}}</td>
   <td>{{CompatUnknown}}</td>
   <td>{{CompatUnknown}}</td>
   <td>{{CompatOpera([[Shared:OperaVersion]])}}</td>
   <td>{{CompatUnknown}}</td>
  </tr>
 </tbody>
</table>
</div>

<div id="compat-mobile">
<table class="compat-table">
 <tbody>
  <tr>
   <th>Feature</th>
   <th>Android</th>
   <th>Android Webview</th>
   <th>Firefox Mobile (Gecko)</th>
   <th>Firefox OS</th>
   <th>IE Mobile</th>
   <th>Opera Mobile</th>
   <th>Safari Mobile</th>
   <th>Chrome for Android</th>
  </tr>
  <tr>
   <td>Basic support</td>
   <td>{{CompatNo}}</td>
   <td>{{CompatChrome([[Shared:ChromeVersion]])}}</td>
   <td>{{CompatUnknown}}</td>
   <td>{{CompatUnknown}}</td>
   <td>{{CompatUnknown}}</td>
   <td>{{CompatOperaMobile([[Shared:OperaVersion]])}}</td>
   <td>{{CompatUnknown}}</td>
   <td>{{CompatChrome([[Shared:ChromeVersion]])}}</td>
  </tr>
 </tbody>
</table>
</div>

